*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width :600px;
    height: 600px;
    margin: auto;
    border: 2px solid black;
    margin-top: 100px;
    display: grid;
    background-color: azure;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.child-1{
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 3;
}
.child-2{
    background-color: blanchedalmond;
}